body {
	background-color: #232323;
	font-family: "Raleway", Sans-serif;
	font-size: 1rem;
	margin: 0;
}

#container {
	max-width: 37rem;
	margin: 0 auto;
	padding-top: 1.5rem;

}
.square {
	width: 10rem;
	background-color: #800080;
	padding-bottom: 10rem;
	float: left;
	margin: 1rem;
	transition: background .7s;
   
} 

h1 {
	color: #ffffff;
	background-color: #2C8E99;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 1rem 0;
    border: none;
}

#color-display {
	display: block;
	font-size: 6rem;
}

#stripe {
	background: #ffffff;
	height: 2.5rem;
	text-align: center;
	/* color: #302e2e; */
}

#message {
	text-transform: uppercase;
	color: #5f6768;
	font-size: 1.5em;
	display: inline-block;
	width: 20%;
}

button {
	outline: none;
	color: #62f19e;
	font-family: "Raleway", Sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	background-color: #ffffff;
	height: 2.5rem;
	letter-spacing: 0.1rem;
	transition: all 0.3s;
	
}

button:hover {
	background-color: #62f19e;
	color: #ffffff;
}

.selected {
	background-color: #62f19e;
	color:#5f6768;
}

.square {
	border-radius: 3rem;
}

* {
	border: 0px solid #dd4f4f;
}



